In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
inp=pd.read_csv("titanic - titanic (1).csv")

In [2]:
inp.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
inp.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
inp.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
inp.Age.isnull().sum()

177

In [11]:
inp.drop("Name",axis=1, inplace=True)

In [13]:
inp.drop("PassengerId",axis=1, inplace=True)

In [15]:
inp.drop("SibSp",axis=1, inplace=True)

In [17]:
inp.drop("Ticket",axis=1, inplace=True)

In [19]:
inp.drop("Fare",axis=1, inplace=True)

In [21]:
inp.drop("Embarked",axis=1, inplace=True)

In [23]:
inp.head()

   Survived  Pclass     Sex   Age  Parch Cabin
0         0       3    male  22.0      0   NaN
1         1       1  female  38.0      0   C85
2         1       3  female  26.0      0   NaN
3         1       1  female  35.0      0  C123
4         0       3    male  35.0      0   NaN

In [25]:
inp.drop("Cabin",axis=1, inplace=True)

In [27]:
inp.head()

   Survived  Pclass     Sex   Age  Parch
0         0       3    male  22.0      0
1         1       1  female  38.0      0
2         1       3  female  26.0      0
3         1       1  female  35.0      0
4         0       3    male  35.0      0

In [29]:
inp.drop("Parch",axis=1, inplace=True)

In [31]:
inp.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [33]:
inp.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
dtype: int64

In [35]:
mnt_age = inp['Age'].mode()[0]

print(mnt_age)

24.0

In [37]:
median_age = inp['Age'].median()

print(median_age)

28.0

In [39]:
inp.Age.fillna(median_age,inplace=True)

C:\Users\MANGESH MAHAJAN\AppData\Local\Temp\ipykernel_24080\584610255.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  inp.Age.fillna(median_age,inplace=True)

In [41]:
inp.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
dtype: int64

In [43]:
male_survivors = inp[(inp['Sex'] == 'male') & (inp['Survived'] == 1)]
num_male_survivors = male_survivors.shape[0]
print(num_male_survivors)

109

In [45]:
female_survivors = inp[(inp['Sex'] == 'female') & (inp['Survived'] == 1)]
num_female_survivors = female_survivors.shape[0]
print(num_female_survivors)

233

In [47]:
survivors = inp[inp['Survived'] == 1]
avg_age = survivors['Age'].mean()
print(avg_age)

28.29143274853801

In [49]:
female_survivors = inp[(inp['Sex'] == 'female') & (inp['Survived'] == 1)]
avg_fage=female_survivors['Age'].mean()
print(avg_fage)

28.716738197424892

In [51]:
male_survivors = inp[(inp['Sex'] == 'male') & (inp['Survived'] == 1)]
avg_mage=male_survivors['Age'].mean()
print(avg_mage)

27.382293577981653

In [53]:
mode_class = inp['Pclass'].mode()[0]

print(mode_class)

3

In [55]:
inp.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
dtype: int64

In [57]:
inp.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [63]:
inp['Sex']=inp['Sex'].astype('category')
inp['Sex']=inp['Sex'].cat.codes
inp

     Survived  Pclass  Sex   Age
0           0       3    1  22.0
1           1       1    0  38.0
2           1       3    0  26.0
3           1       1    0  35.0
4           0       3    1  35.0
..        ...     ...  ...   ...
886         0       2    1  27.0
887         1       1    0  19.0
888         0       3    0  28.0
889         1       1    1  26.0
890         0       3    1  32.0

[891 rows x 4 columns]

In [65]:
X=inp.drop(columns='Survived')
X

     Pclass  Sex   Age
0         3    1  22.0
1         1    0  38.0
2         3    0  26.0
3         1    0  35.0
4         3    1  35.0
..      ...  ...   ...
886       2    1  27.0
887       1    0  19.0
888       3    0  28.0
889       1    1  26.0
890       3    1  32.0

[891 rows x 3 columns]

In [67]:
y=inp['Survived']
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [69]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3)

In [71]:
X_train.shape

(623, 3)

In [73]:
X_test.shape

(268, 3)

In [75]:
y_train.shape

(623,)

In [77]:
y_test.shape

(268,)

In [79]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [81]:
X_train_scale=scaler.fit_transform(X_train)

In [83]:
X_test_scale=scaler.transform(X_test)

In [85]:
from sklearn.linear_model import LogisticRegression 
reg=LogisticRegression()
reg.fit(X_train_scale, y_train)

LogisticRegression()

In [87]:
y_train_scale_predict=reg.predict(X_train_scale)
y_train_scale_predict

array([1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0], dtype=int64)

In [89]:
reg.score(X_train_scale, y_train)

0.7993579454253612